<meta charset="UTF-8">
<title>Mammoth Interactive</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">

<style>
  body {
    padding: 50px;
  }
</style>